@(visits: List[models.MedicalVisit], visitsList: List[models.MedicalVisitList], user: User)

    @main("Moje wizyty") {
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Przychodnia Lekarska</div>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/doctor/edit">Moje dane</a></li>
                    <li><a href="/doctor/visits/get">Moje wizyty</a></li>
                    <li><a href="/doctor/visit/list/add">Stwórz zapisy</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span>
                        @user.doctor.firstName @user.doctor.lastName</button>
                    <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href = '/guest/login' "><span class="glyphicon glyphicon-log-out"></span>
                        Wyloguj się</button>
                </ul>
            </div>
            <div><header>
                <img src="@routes.Assets.versioned("images/header2.jpg")" width="100%" height="100%">
            </header></div>
        </nav>
        <div class="panel panel-primary">
            <div class="panel-heading">Lista moich zapisów</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Godzina</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(visit <- visitsList) {
                        <tr>
                            <td>@visit.date.format("dd-MM-yyyy")</td>
                            <td>@visit.time.format("HH:mm")</td>
                            <td><button type="submit" onclick="location.href = '@routes.DoctorController.deleteVisitList(visit.id)'" class="btn btn-link">Usuń</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="panel-heading">Lista moich przyjęć</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Godzina</th>
                            <th>Ukończona</th>
                            <th>Imię pacjenta</th>
                            <th>Nazwisko pacjenta</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(visit <- visits) {
                        <tr>
                            <td>@visit.date.format("dd-MM-yyyy")</td>
                            <td>@visit.time.format("HH:mm")</td>
                            @if(visit.isCompleted) {
                                <td>Tak</td>
                            } else {
                                <td>Nie</td>
                            }
                            <td>@visit.patient.firstName</td>
                            <td>@visit.patient.lastName</td>
                            @if(visit.isCompleted) {
                                <td></td>
                            } else {
                                <td><button type="submit" onclick="location.href = '@routes.DoctorController.confirmVisit(visit.id)'" class="btn btn-link">
                                    Potwierdz</button></td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }